<div class="modal js-loading-bar" style="width: 60px;display:none;position:fixed;top:50%;left:50%">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-body" >
       <%= image_tag 'img/loader.gif' %>
     </div>
   </div>
 </div>
</div>