<div class="footer-container"><!-- Begin Footer -->
  <div class="container">
    <div class="row footer-row">
      <div class="span3 footer-col">
        <h5>About Us</h5>
        <ul class="post-list">
          <li><a href="#">Who we are?</a></li>
          <li><a href="#">Why to trust us?</a></li>
        </ul>
        <address>
          <strong>Design Team</strong><br />
          Vinsol<br />
          Patel Nagar, Delhi<br />
        </address>
        <%= image_tag 'img/go-creative-logo.png' %><br /><br>
        
      </div>

      <div class="span3 footer-col">
        <h5>About the site</h5>
          <ul class="post-list">
            <li>Great platform to fight for a cause by starting a charity project.</li>
            <li>Great platform to show your creativity by starting an investment project.</li>
          </ul>
        </div>
      <div class="span3 footer-col">
        <h5>Help</h5>
        <ul class="post-list">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">What is crowdfunding?</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms of Use &amp; Privacy Policy</a></li>
        </ul>
      </div>
      <div class="span3 footer-col">
        <h5>Feedback</h5>
        <form action="#" method="post">
          <input type="text" placeholder="Your Name">
          <input type="text" placeholder="Your Email">
          <textarea rows="5" placeholder="Your Feedback"></textarea>
          <input type="submit" value="Share" class="btn btn-info">
        </form>
      </div>
    </div>

      <div class="row"><!-- Begin Sub Footer -->
        <div class="span12 footer-col footer-sub">
          <div class="row no-margin">
            <div class="span6"><span class="left">Copyright 2014 Go Creative. All Rights Reserved</span></div>
            <div class="span6">
            </div>
          </div>
        </div>
    </div>
  </div><!-- End Footer -->

  <!-- Scroll to Top -->  
  <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
