<h2 class="sub-header">Go Creative Projects</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Amount Required</th>
        <th>Started By</th>
        <th>Created At</th>
        <th>End Date</th>
        <th>Contributors</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'project', collection: @projects %>
    </tbody>
  </table>
  <%= paginate @projects %>
</div>