<% if @project.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>