<!-- Gallery
  ================================================== --> 
<% if @project.images.present? %>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="border: 1px solid #ccc; background-color: white">
      <% active = [] %>
      <% @project.images.each.with_index do |image, index| %>
        <% next unless File.exists?(image.image.path(:large)); active << index %>
        <div class="item<%= ' active' if index == active[0] %>">
          <%= image_tag image.image.url(:large) %>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a data-slide="prev" href="#carousel-example-generic" role="button" class="left carousel-control">‹</a>
    <a data-slide="next" href="#carousel-example-generic" role="button" class="right carousel-control">›</a>
  </div>

<% end %>
