<div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->

  <h2 class="title-bg">Hi <%= @user.first_name%></h2>
  <center><%= image_tag 'site/user_profile1.png' %></center>
  <br />

  <p class="quote-text side">Thanks for choosing our site as the platform to show your talend or fight for a noble cause. Please provide the details as per required by the form to get started. Wish you luck!</p>

  <!--Testimonials-->
  <h5 class="title-bg">Types of Projects on our site</h5>

  <p class="quote-text side">"Charity project can be started when you want to collect some funds for a noble cause. Please help us fight the illegimitate project requests by providing your legal documents when starting such prohect"<cite>- Charity Project</cite></p>

  <p class="quote-text side">"Have a wonderful idea but short of funds? You have come to the right place. Flaunt your ideas, win people hearts and see them fund for your brain."<cite>- Investment project</cite></p>

</div><!-- End sidebar column -->