  
<%= form_for @project, html: { multipart: true } do |f| %>

<% end  %>

  <h5>Upload legal documents</h5>
  <%= form_tag(action: 'testing', method: :post, multipart: true, class: 'dropzone') do %>
  <% end %>
