<!-- Page Content
  ================================================== --> 

  <!-- Title Header -->
  <div class="row">
    <div class="span12">
      <h2>Your Projects Page</h2>
      <p class="lead">Here all your projects are displayed whether started or not.</p>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Type</th>
              <th>Status</th>
              <th>Amount Required</th>
              <th>Created At</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'project', collection: @projects %>
          </tbody>
        </table>
      </div>

    </div>

</div> <!-- End Container -->