<h2 class="sub-header">Go Creative Users</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'user', collection: @users %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>