.formContainer {
  background-color: white;
  padding: 20px;
}

div.field_with_errors {
  display: inline;
}

.input-prepend > em {
  display: inline;
  font-size: 12px;
  color: blue;
  vertical-align: bottom;
  margin-left: 10px;
}

.input-prepend > span {
  margin-left: 10px;
}

.input-prepend .required-after {
  display: inline;
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
  vertical-align: bottom;
}

.control-group {
  font-family: "Oswald", sans-serif;
}

.control-group > label {
  font-weight: bold;
}

.text-special {
  color: #d8450b;
  font-family: "Oswald", sans-serif;
}

.text-warning {
  color: #b94a48;
  font-weight: bold;
}