<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/dashboard_head' %>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Go Creative Admin Panel</a>
        </div>
      </div>
    </nav><!-- TOP NAVIGATION -->

    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-centered col-md-4 main">

          <%= render 'shared/flash_message' %>
          <%= yield %>

        </div><!--/row MAIN CONTENT-->

      </div>

    </div><!--/.container-->
    <%= render 'shared/dashboard_footer' %>
  </body>
</html>