<h5>Address Proof Attachment</h5>
<% if @user.addresses.primary_address %>
  <% if @user.addresses.primary_address.address_proof.exists? %>
    <%= image_tag @user.addresses.primary_address.address_proof %>
    <p>This is the copy available with us. You can provide the proof again using the dropbox below.</p>
  <% else %>
    <p class="text-warning">You have not attached any proof for your address till now. Please provide us the proof if you want to start a project on our website. The details will be kept confidential with us.</p>
    
  <% end %>
<% else %>
  <p class="text-warning">You have not attached any proof for your address till now. Please provide us the proof if you want to start a project on our website. The details will be kept confidential with us.</p>
<% end %>
<%= form_tag('/account/upload_address_proof', method: :post, multipart: true, class: 'dropzone', id: 'address_proof_upload') do %>
    <% end %>