<div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->

  <!--Latest News-->
  <h2 class="title-bg">User Profile</h2>
  <center><%= image_tag path_for_profile_picture(@user), class: 'profile-picture' %></center>
  <br />

  <!--Comments and Messages-->
  <h5 class="title-bg">General Info</h5>
  <p>Name: <span class="text-special"><%= @user.name.humanize %></span></h5>
  <p>Email: <span class="text-special"><a href="mailto:<%= @user.email %>"><%= @user.email %></a></span></h5>

</div><!-- End sidebar column -->