<!-- Page Content
================================================== --> 
<div class="row"><!--Container row-->

  <!-- Page Sidebar
  ================================================== --> 
  <%= render partial: 'sidebar' %>

  <!-- Page Content
  ================================================== --> 
  <div class="span8"><!--Begin page content column-->

    <h2 class="title-bg">Your Account Settings <%= image_tag 'site/account_settings.png', size: '42x42', class: 'pull-right' %></h2>

      <!-- Form Name -->
      <legend>Your Email ID: <span class='text-special'><%= @user.email %></span></legend>
      <%= render partial: 'address_fields_for_form', locals: { action_redirect: update_incomplete_details_account_path } %>
      
  </div> <!--End page content column--> 

</div><!-- End container row -->